# .NET
bin/
obj/
*.user
*.suo
*.vs/
.vs/
*.DotSettings.user
logs/

# Data
data/

# IDE
.idea/

# Secrets
.env
appsettings.Development.json
appsettings.*.json
!appsettings.json
!appsettings.Production.json

# TypeScript backup
ts_backup/node_modules/
ts_backup/dist/

# Logs
*.log
